<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
    backupGlobals="false"
    colors="true"
    bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="PluSQL test suite">
            <directory>./src/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <!-- We need a Drupal site for using DBTNG -->
        <env name="DRUPAL_PATH" value="/var/www/somesite/www"/>

        <!-- MySQL authentication for testing -->
        <env name="MYSQL_HOST" value="localhost"/>
        <env name="MYSQL_PORT" value="3306"/>
        <env name="MYSQL_USER" value=""/>
        <env name="MYSQL_PASS" value=""/>
        <env name="MYSQL_BASE" value=""/>

        <!-- PostgreSQL authentication for testing -->
        <env name="PGSQL_HOST" value="localhost"/>
        <env name="PGSQL_PORT" value="5432"/>
        <env name="PGSQL_USER" value=""/>
        <env name="PGSQL_PASS" value=""/>
        <env name="PGSQL_BASE" value=""/>
    </php>
</phpunit>
